@model IEnumerable<NZWalks.UI.Models.DTO.RegionDTO>
<h1>Regions</h1>
<table>
    <thead class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var walk in Model)
        {
          <tr>
              <td>@walk.Id</td>
              <td>@walk.Name</td>
              <td>@walk.Code</td>
          </tr>  
        }
    </tbody>
</table>